@page "/syncfusion"
@using BlazorServerSyncfusion.Interfaces
@using BlazorServerSyncfusion.Services
@using BlazorServerSyncfusion.Models
@using Syncfusion.Blazor.Charts
@using System.Text;
@using System.Text.Json;
@inject IDatabase<TdmsFile> TdmsFileService
@rendermode InteractiveServer




<PageTitle>SyncfusionChart</PageTitle>
<h3>SyncfusionChart</h3>
@if (jsonContent != null)
{
    <pre>@jsonContent</pre>
}
else
{
    <p>Loading...</p>
}

@code {
    private string jsonContent;

    protected override async Task OnInitializedAsync()
    {
        var tdmsFiles = await TdmsFileService.GetAsync();
        if (tdmsFiles != null && tdmsFiles.Any())
        {
            var firstFile = tdmsFiles.First();
            jsonContent = ConvertToBase64(firstFile.Data);
        }
    }

    private string ConvertToBase64(byte[] data)
    {
        return Encoding.UTF8.GetString(data);
    }
}